h2 {
  font-size: 2.5rem;
}

.dimension {
  width: 45%;
  height: 100vh;
  border: 1px solid lightgray;
}

.mission-display {
  width: 100%;
  height: 10vh;
  border: 1px solid rgb(221, 217, 217);
  font-size: 2rem;
}
