
h2 {
  font-size: 2.5rem;
}

.dimension {
  width: 44%;
  height: 100vh;
  border: 1px solid lightgray;
}

.mission-display {
  width: 100%;
  height: 10vh;
  border: 1px solid rgb(221, 217, 217);
  font-size: 2rem;

  .profile-section {
    display: flex;
    justify-content: center;
    height: 100%;
    align-content: center;
    margin-bottom: 60px;
    border-bottom: 1px solid #e7e7e7;
    flex-direction: column;
    align-items: center;
  }
}
